/*Carousel */
.carousel-cell {
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 5px;
  counter-increment: carousel-cell; 
  text-align: center;
    @include tablet {
      width: 50%;
    }
    @include desktop {
      width: 25%;
    }
}

button {
  display: none;
}

/* PRODUCTS IN CAROUSEL */
.clothing h2 {
  padding-bottom: 4rem;
}