/*  CATEGORY */
.category a{
  text-decoration: none;
  color: #fff;
  padding: 50px;
  margin: auto;
}
.category {
  text-transform: uppercase;
  display: flex;
  flex-flow: row wrap;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 19px;
}
.rectangle {
  max-width: 100%;
  height: 12.5rem;
  display: flex;
  flex: 1 0 100%;
  border: 4px solid #fff;
}
.square {
  max-width: 50%;
  height: 12.5rem;
  display: flex;
  flex: 1 0 100%;
  border: 4px solid #fff;
}
.men {
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), 
   url('images/pictures/mens-category.jpg');
  order: 0;
  background-size: cover;
}
.trends {
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), 
   url('images/pictures/trends-category.jpg');
  order: 1;
  background-size: cover;
}
.glasses {
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), 
   url('images/pictures/glasses-category.jpg');
  order: 2;
  background-size: cover;
}
.sale {
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), 
   url('images/pictures/sale-category.jpg');
  order: 3;
  background-size: cover;
}
.bags {
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),
   url('images/pictures/bags-category.jpg');
  order: 4;
  background-size: cover;
}
.women {
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), 
   url('images/pictures/womens-category.jpg');
  order: 5;
  background-size: cover;
}