/*  FOOTER */
.info {
  line-height: 1.5rem;
}
.address {
  padding-top: 10px;
  color: #969696;
  font-family: 'Playfair Display';
  font-weight: normal;
  font-style: normal;
}
.copyright {
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
}
.phone {
  padding-top: 10px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}
.email {
  text-decoration: underline;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}
.list-social {
  color: #fff;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 2rem;
}
.footer-social { 
  background-color: #242424;
  text-align: center;
  padding: 3rem 0;
}
/*  SOCIAL MEDIA ICONS  */
.icons {
  color: #fff;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.wrapper {
  text-align: center;
}
.media a{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.gone {
  display: none; /* this will make media disappear on MOBILE */
}
  /*HOVER */
.media a:hover {
  color: #b64036;
}
.menu a:hover {
  color: #b64036;
}
.category a:hover {
  color: #b64036;
}
.menu a {
   text-decoration: none;
 }

.screen-reader-text:focus {
   clip: auto !important;
   display: block;
   height: auto;
   left: 5px;
   top: 5px;
   width: auto;
   z-index: 100000; /* above all content */
}

.screen-reader-text {
   clip: rect(1px, 1px, 1px, 1px);
   position: absolute !important;
   height: 1px;
   width: 1px;
   overflow: hidden;
}