/*  FOOTER */
.info {
  line-height: 1.5rem;
  padding-left: 1rem;
  .copy-right {
    padding: 4rem 0 1.5rem;
    line-height: 1.5rem;
        }
        .copyright-contact {
          padding-bottom: 1.5rem;
        }
          .address {
            line-height: 1.5rem;
            padding-bottom: 3rem;
            color: #969696;
          }
    @include tablet {
      text-align: left;
    }
}

.list-social {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 2rem;
    @include tablet {
      display: flex;
      padding: 4rem 2rem 0 0;
      flex-direction: column;
    }
}
.footer-social {
  background-color: #242424;
  color: #e1e1e1;
  text-align: center;
  font-family: 'Playfair Display', serif;
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
}
/*  SOCIAL MEDIA ICONS  */
.media { 
  @include tablet {
  display: block;
  text-align: left;
  padding: 0.5rem 0;
  }
  a:hover {
    color: #b64036;
  }
}
.media a{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.gone {
  display: none; /* this will make media disappear on MOBILE */
    @include tablet {
      display: unset;
      padding-left: .5rem;
    }
}
  /*HOVER */

.menu a:hover {
  color: #b64036;
}

.menu a {
   text-decoration: none;
 }
