html {
  margin: 0 auto;
}
* {
  box-sizing: border-box;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}

.clothing {
  padding: 4rem 0;
}
body {
  width: 100%;
}
.screen-reader {
  display: none;
}
/* ALL H2 HEADING*/ 
.heading-italic {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-style: italic;
  font-size: 35px;
  text-align: center;
  margin-bottom: 1.5rem;
}

/* CONTAINER */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2%;
} 

/* PARAGRAPHS*/ 
.description {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin: auto;
  line-height: 35px;
  text-align: center;
}

/* SCREEN READER */
.screen-reader-text  {
  display: none;
} 