html {
  margin: 0 auto;
}
* {
  box-sizing: border-box;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  width: 100%;
}
.screen-reader {
  display: none;
}
/* ALL H2 HEADING*/ 
h2 {
  font-style: italic;
  margin-bottom: 2rem;
}
.heading-italic {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 2.25rem;
  text-align: center;
}

/* CONTAINER */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2%;
    @include tablet {
      width: 720px;
    }
    @include desktop {
      width: 1240px;
    }
} 

/* PARAGRAPHS*/ 
.description {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.15rem;
  margin: auto;
  line-height: 35px;
  text-align: center;
}

/* SCREEN READER */
.screen-reader-text  {
  display: none;
} 

/* ALL THE SECTIONS */
section {
  padding: 4rem 0;
}