/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}
.aloha-logo {
  width: 120px;
  order:1;
  align-self: flex-start;
  padding-top: 15px;
}
.cart-logo {
  width: 50px;
  order: 2;
  align-self: flex-end;
  padding-top: 15px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2%;
}
.banner-text {
  width: 82%;
  text-align: center;
  align-self: center;
}
.about-text {
  width: 720px;
  padding: 4rem 0;
  
}
/*  MENU */
.menu {
  display: flex;
  order: 3;
  text-align: center;
  border-top: 1px solid #d7d7d7;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  justify-content: space-around;
}
.menu li {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 16px;
  font-style: normal;
  text-transform: uppercase;
  color: #e2574c;
}