html {
  margin: 0 auto;
}
* {
  box-sizing: border-box;
  outline: none;
}
.clothing {
  padding: 4rem 0;
}
body {
  width: 100%;
}
.screen-reader {
  display: none;
}
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}
.aloha-logo {
  width: 120px;
  order:1;
  align-self: flex-start;
  padding-top: 15px;
}
.cart-logo {
  width: 50px;
  order: 2;
  align-self: flex-end;
  padding-top: 15px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2%;
}
.banner-text {
  width: 82%;
  text-align: center;
  align-self: center;
}
.about-text {
  width: 720px;
  padding: 4rem 0;
  
}
/*  MENU */
.menu {
  display: flex;
  order: 3;
  text-align: center;
  border-top: 1px solid #d7d7d7;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  justify-content: space-around;
}
.menu li {
  font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-style: italic;
  font-size: 16px;
  font-style: normal;
  text-transform: uppercase;
  color: #e2574c;
}
/*  HERO BANNER */
.banner {
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), 
    url('images/pictures/banner-girl.png') no-repeat center 70px, 
    url('images/pictures/flower-bkgd.jpg') repeat-x center top;
  height: 400px;
  max-width: 100%;
  position: relative;
  background-size: cover, 150px 369px, cover;
  display: flex;
  }
.header-new {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
	font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.8);
}
.topic {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
	font-style: normal;
  font-size: 2.5rem;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.8);
}
/*  PRODUCTS */
.heading-italic {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
	font-style: italic;
  font-size: 35px;
  text-align: center;
  margin-bottom: 1.5rem;

}
.bold {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
	font-style: normal;
}
.description {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
	font-style: normal;
  font-size: 1rem;
  margin: auto;
  line-height: 35px;
  text-align: center;
}
/*  CATEGORY */
.category a{
  text-decoration: none;
  color: #fff;
  padding: 50px;
  margin: auto;
}
.category {
  text-transform: uppercase;
  display: flex;
  flex-flow: row wrap;
  font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-style: normal;
  font-size: 19px;
}
.rectangle {
  max-width: 100%;
  height: 12.5rem;
  display: flex;
  flex: 1 0 100%;
  border: 4px solid #fff;
}
.square {
  max-width: 50%;
  height: 12.5rem;
  display: flex;
  flex: 1 0 100%;
  border: 4px solid #fff;
}
.men {
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), 
   url('images/pictures/mens-category.jpg');
  order: 0;
  background-size: cover;
}
.trends {
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), 
   url('images/pictures/trends-category.jpg');
  order: 1;
  background-size: cover;
}
.glasses {
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), 
   url('images/pictures/glasses-category.jpg');
  order: 2;
  background-size: cover;
}
.sale {
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), 
   url('images/pictures/sale-category.jpg');
  order: 3;
  background-size: cover;
}
.bags {
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),
   url('images/pictures/bags-category.jpg');
  order: 4;
  background-size: cover;
}
.women {
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), 
   url('images/pictures/womens-category.jpg');
  order: 5;
  background-size: cover;
}
/*Carousel */
.carousel-cell {
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 5px;
  counter-increment: carousel-cell; 
  text-align: center;
}
/*  PRODUCTS */
.clothes {
  font-family: 'Playfair Display', serif;
	font-weight: normal;
	font-style: normal;
  text-transform: capitalize;
  font-size: 23px;
  color: #e2574c;
  line-height: 2em;
}
.merchandise {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
	font-style: normal;
  text-transform: uppercase;
  font-size: 10px;
  color: #969696;
  line-height: 2rem;
}
/*  SUBSCRIPTION */
.ocean-background {
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),
   url('images/pictures/wave-bkgd.jpg') no-repeat center;
  background-position: bottom;
  position: relative;
  margin: auto;
  border-bottom: 0.5rem solid #fff;
  padding: 4rem 0;  
}
.heading-updates {
  text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.8);
  color: #fff;
}
.sign-up {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
	font-style: normal;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.8);
  line-height: 2.5rem;
  text-align: center;
  font-size: 1.15rem;
}
.email-sub {
  position: relative;
  width: 90%;
  margin: 2rem auto 0;
  display: block;
}
input {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
  align-content: center;
  display: inline-block;
  text-transform: capitalize;
  font-size: 1rem;
}
input[type='email'] {
  border-radius: 10rem;
  padding: .5rem 1.75rem;
  padding-right: 150px;
  width: 100%;
  border: 0;
}
input[type="submit"] {
  border-radius: 10rem;
  background-color: #e2574c;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
	font-style: normal;
  right: .25rem;
  top: .25rem;
  position: absolute;
  padding: .25rem 1.5rem;
  border: 0;
}
/*  FOOTER */
.info {
  line-height: 1.5rem;
}
.address {
  padding-top: 10px;
  color: #969696;
  font-family: 'Playfair Display';
  font-weight: normal;
	font-style: normal;
}
.copyright {
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
	font-style: normal;
  font-size: 15px;
}
.phone {
  padding-top: 10px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-style: normal;
  font-size: 14px;
}
.email {
  text-decoration: underline;
  font-family: 'Playfair Display', serif;
	font-weight: normal;
	font-style: normal;
  font-size: 15px;
}
.list-social {
  color: #fff;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 2rem;
}
.footer-social { 
  background-color: #242424;
  text-align: center;
  padding: 3rem 0;
}
/*  SOCIAL MEDIA ICONS  */
.icons {
  color: #fff;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  color: white;
}
.wrapper {
  text-align: center;
}
.media a{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
	font-style: normal;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-decoration: none;
}
.gone {
  display: none; /* this will make media disappear on MOBILE */
}
  /*HOVER */
.media a:hover {
  color: #b64036;
}
.menu a:hover {
  color: #b64036;
}
.category a:hover {
  color: #b64036;
}
 .menu a {
    text-decoration: none;
  }

.screen-reader-text:focus {
   clip: auto !important;
   display: block;
   height: auto;
   left: 5px;
   top: 5px;
   width: auto;
   z-index: 100000; /* above all content */
}

.screen-reader-text {
   clip: rect(1px, 1px, 1px, 1px);
   position: absolute !important;
   height: 1px;
   width: 1px;
   overflow: hidden;
}

/*MEDIA TABLET SCREEN*/
@media only screen and (min-width: 600px) {
  .header {
    max-width: 720px;
  }
  /*MENU*/
  .aloha-logo {
    display: flex;
    order: 1;
    margin:0;
    padding: 0;
  }
  .menu {
    border-top: none;
    display: flex;
    order: 2;
    width: 60%;
    margin: 0;
    padding-top: 5rem;

  }
  .cart-logo {
    display: flex;
    order: 3;
    margin: 0;
    padding-bottom: 1.15em;
  }
  /*CATEGORIES*/
  .rectangle{
    flex-basis: 50%;
    /*background-position: center;*/
  }
  .square {
    flex-basis: 25%;
    background-position: center;
  }
  /*CAROUSEL*/
  .carousel-cell {
    width: 50%;
  }
  /*FONTS*/
  .description {
    font-size: 1.10em;
  }
  /*FOOTER*/
  .about-text {
    max-width: 720px;
  }
  .footer-social {
    display:flex;
    justify-content: space-between;
    padding-left: 1rem;
  }
  .info {
    display: flex;
    flex-direction: column ;
    text-align: left;
    padding-top: 1rem;
  }
  .gone {
    display:initial; /*this will show media in tablet+web */
    line-height: 2rem;
    margin-left: 5px;
  }
  .list-social {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .fa {
    margin-right: 5px;
  }
  .email-sub{
    width: 67%;
  }
  .wrapper {
    max-width: 720px;
  }
}

/*MEDIA WEB SCREEN*/
@media only screen and (min-width: 1240px) {
  .banner {
    height: 35rem;
    background-size: cover, 16rem 42rem, contain;
  }
  .header {
    max-width: 1240px;
  }
  .menu {
    padding-top: 5rem;
  }
  .rectangle {
    flex-basis: 50%;
    height: 20rem;
  }
  .square {
    flex-basis: 25%;
    height: 20rem;
  }
  /*Carousel*/
  .carousel-cell {
    width: 25%;
  }
  /*FONTS*/
  .description{
    font-size: 1.15em;
  }
}

  /*BUTTON*/